numpy==1.26.3
opencv-python>=4.7.0.72
onnx>=1.14.0
insightface==0.7.3
psutil
pillow
protobuf
QrCode
tqdm
gfpgan
torch
onnxruntime-gpu
nvidia-cuda-runtime-cu12
nvidia-cublas-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
